*{
    margin: 0;
    box-sizing: border-box;
}


/*Estilos Menu*/

.menu {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #548dbb;
    color: #FFFFFF;
    position: sticky;
    top: 0;
}

.menu img{
    width: 10vw;
    margin: 0px 15px;
}

.menu ul {
    list-style: none;
    color: #FFFFFF;
}

.menu ul li {
    display: inline-block;
}

.menu li a {
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #0000001f;
    animation: 0.5s infinite boton-menu;
    border-radius: 40px;
}

.menu a {
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    
}

.menu a:hover {
    background-color: #0000001f;
    animation: 0.5s infinite boton-menu;
    border-radius: 40px;
}

.reservar img{
    width: 3vw;
}



/*Estilos Habitaciones*/

.titulo-habitaciones{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
}

.habitaciones {
    display: flex;
    flex-direction: column;
}

.habitacion {
    display: flex;
    padding: 20px;
    align-items: center;
}

.habitacion-img {
    width: 50%;
    text-align: center;
    
}

.habitacion-img img {
    max-width: 70%;
    height: auto;
}

.habitacion-text {
    display: block;
    width: 50%;
    padding: 0 20px;
}

.habitacion-text p {
    font-size: 16px;
}

.button {
    text-align: center;
}

button {
    background-color: transparent;
    border: 1px solid black; /* Borde negro de 1 píxel */
    color: #000; /* Cambia el color del texto a negro */
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Cambia el color de fondo al pasar el ratón */
}

.habitaciones .habitacion:nth-child(1),
.habitaciones .habitacion:nth-child(3) {
    background-color:rgb(237, 243, 241);
}






/*Estilos footer*/

.contenedor-footer {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    color: #000000;
    padding: 30px;
    grid-area: footer;
}

.contenedor-footer img {
    width: 140px;
    margin: 0px 15px;
    color: #FFFFFF;
}

.contenedor-footer ul {
    list-style: none;
}


