/* Posicionamiento del Grid */

/*--------------------------------------------------------------------------------------------------------------------------------*/
                                                 /* Para COMPUTADORAS */
/*--------------------------------------------------------------------------------------------------------------------------------*/

.contenedor-principal{

    display: grid;
  
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(7, auto);
  
    /* Alinea horizontalmente */
    justify-items: center; 
    /* Alinea verticalmente 
      align-items: center; */
  
    justify-content: space-around;
    align-content: center;
  
  
    grid-template-areas: "nav         nav         nav           nav"
                         "inicio      inicio      inicio        inicio"
                         "nosotros    nosotros    nosImagen     nosImagen"
                         "servicios   servicios   servicios     servicios"
                         "estrellas   estrellas   estrellas     estrellas"
                         "contacto    formulario  formulario    ubicacion"
                         "footer      footer      footer        footer"
  
  }
  

/*----------------*/
/*Estilos Menu/
/*----------------*/

.contenedor-principal .menu{
    grid-area: nav;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #457AA4;
    color: #FFFFFF;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 97vw;
}

.menu img{
    width: 10vw;
    margin: 0px 15px;
    transition: transform 0.5s;
}

.menu img:hover{
    transform: scale(1.2)
}

.menu ul{
    list-style: none;
    color: #FFFFFF;
}

.menu ul li{
    display: inline-block;
}

.menu li a{
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #0000001f;
    animation: 0.5s infinite boton-menu;
    border-radius: 40px;
}

.menu a{
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover{
    background-color: #0000001f;
    animation: 0.5s infinite boton-menu;
    border-radius: 40px;
}

.reservar{
    padding-bottom: 4vh;
}

.reservar img{
    width: 3vw;
}

@keyframes swing{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(10deg);
    }
    40%{
        transform: rotate(-10deg);
    }
    60%{
        transform: rotate(5deg);
    }
    80%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.reservar img:hover{
    animation: swing 2s infinite;
    transform-origin: 50% 100%;
}

.reservar img {
    transition: transform 0.2s; /* Agrega una transición suave */
}

.reservar:hover img {
    transform: scale(1.2); /* Aumenta el tamaño en un 20% */
}



/*----------------*/
/*Estilos Inicio*/
/*----------------*/


.contenedor-principal .inicio{
    grid-area: inicio;
}

.inicio{
    display: flex;
    flex-direction: column;

    align-content: center;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #fff;

    background-image: linear-gradient(rgba(5,7,12,0.3), rgba(5,7,12,0.3)), url(/img/playa4.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 97vw;
    height: 100vh;
}

.inicio a:hover{
    background-color: #0000001f;
    animation: 0.5s infinite boton-menu;
    border-radius: 40px;
}

/*----------------*/
/*Estilos Nosotros*/
/*----------------*/


.contenedor-principal .nosotros{
    grid-area: nosotros;
    justify-content: flex-start;
}

.nosotros div {
    display: flex;
 
    padding: 3vw;

    justify-content: flex-start;
    align-content: flex-start;
    align-self: center;

    text-align: justify;
}

.nosotros div h3{
    font-size: 30px;
    padding-top: 5vw;
}


/*----------------*/
/*Estilos NosImagen*/
/*----------------*/

.contenedor-principal .nosImagen{
    grid-area: nosImagen;
}

.nosImagen img{
    padding-top: 30px;
    width: 48vw
}



/*----------------*/
/*Estilos Servicios*/
/*----------------*/

.contenedor-principal .servicios{
    grid-area: servicios;
  }

.servicios {
    display: flex;
    padding: 10vw;
    justify-content: space-around;
    gap: 8vw;
    text-align: center;

}
.servicios img{
    width: 100px;
}


 
/*----------------*/
/*Estilos Estrellas*/
/*----------------*/

.contenedor-principal .estrellas{
    grid-area: estrellas;
    padding-bottom: 15vw;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 100%; 
}   

.contenedor-estrellas {
    display: flex;
    justify-content: center;
}

.estrellas img{
    width: 5vw;   
}

.estrellas a {
    text-align: center; /* Centra el texto horizontalmente */
    display: block;    /* Hace que el enlace sea un bloque para que el texto se muestre en una línea debajo de las estrellas */
    margin-top: 30px;   /* Agrega espacio entre las estrellas y el enlace */
}


/*----------------*/
/*Estilos Contacto*/
/*----------------*/

  
.contenedor-principal .contacto{
    grid-area: contacto;
}


.contacto {
    display: flex;
    flex-direction: column;
    padding: 3vw;
    justify-content: flex-start;
    align-items: flex-start;
}

.contacto p{
    text-align: justify;
}


/*----------------*/
/*Estilos formContacto*/
/*----------------*/

.contenedor-principal .formContacto{
    grid-area: formulario;
}


.formContacto {
    display: flex;
    flex-direction: column;
    width: 27vw;
    padding-top: 2vw;
}

/* darle formato al formulario con bootstrap */


/*----------------*/
/*Estilos ubiContacto*/
/*----------------*/

.contenedor-principal .ubiContacto{
    grid-area: ubicacion;
  }

.ubiContacto {
    display: flex;
    padding: 10px;
}




/*----------------*/
/*Estilos footer*/
/*----------------*/
 
.contenedor-principal .footer{
    grid-area: footer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    width: 97vw;
}

.footer img {
    width: 10vw;
    margin: 0px 15px;
}

.footer ul {
    list-style: none;
}

.footer div p{
    text-align: center;
}





/*--------------------------------------------------------------------------------------------------------------------------------*/
                                                      /* Para TABLETS */
/*--------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1000px) {
    .contenedor-principal{
      display: grid;
  
      grid-template-columns: auto auto;
      grid-template-rows: repeat(9, auto);
  
  
      /* Alinea horizontalmente */
      justify-items: center;
      /* Alinea verticalmente 
          align-items: center; */
  
      justify-content: space-evenly;
      align-content: center;
  
      /*Tengo que ver de cambiar el menu, capaz que poner parte en hamburguesa y dejar el logo y el reservar */
  
  
      grid-template-areas: "nav          nav"
                           "inicio       inicio"
                           "nosotros     nosotros"
                           "nosImagen    nosImagen"
                           "servicios    servicios"
                           "estrellas    estrellas"
                           "contacto     formulario"
                           "ubicacion    ubicacion"
                           "footer       footer"
    }
  
    /*----Menu----*/
    
    .menu{
        justify-content: space-around;
        font-size: 13px;

    }

    .reservar{
        padding-top: 1vh;
    }

    

    /*----Inicio----*/


    /*----Nosotros----*/

    .nosotros div{
        width: 80vw;
        padding: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nosImagen img {
      width: 70vw
    }
  
    /*----Servicios----*/

    .servicios{
        padding-bottom: 50px;
    }    

    .estrellas{
        padding-bottom: 10vw;
    }

    /*----Contacto----*/

    .contacto p{
        width: 40vw;
        text-align: justify;
    }

    .formContacto{
        width: 40vw;
    }


    /*----Footer----*/


  }


/*--------------------------------------------------------------------------------------------------------------------------------*/
                                                   /* Para CELULARES */
/*--------------------------------------------------------------------------------------------------------------------------------*/


@media (max-width: 600px) {
    .contenedor-principal {
      display: grid;
  
      grid-template-columns: auto;
      grid-template-rows: repeat(11, auto);
  
  
      /* Alinea horizontalmente */
      justify-items: center;
      /* Alinea verticalmente 
          align-items: center; */
  
      justify-content: space-evenly;
      align-content: center;
  
      /*Tengo que cambiar el menu, ponerlo hamburguesa*/
  
      grid-template-areas:  "nav"
                            "inicio"
                            "nosotros"
                            "nosImagen"     
                            "servicios"
                            "servicios"
                            "estrellas"
                            "contacto"
                            "formulario"
                            "ubicacion"
                            "footer"                      
    }
   

    /*----Menu----*/
    /* modificar el menu y ponerlo tipo hamburguesa. Tambien probar de sacar la palabra "reservar" y dejar la campanita como boton*/    

    .menu{
        display: flex;
        flex-direction: row;
    }

    


    /*----Inicio----*/
    /* ver si puedo poner la foto apuntando mas el bote */

    .inicio{
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #fff;

    }


    /*----Nosotros----*/



    /*----Servicios----*/
    /* ver si puedo poner dos y dos */


    /*----Contacto----*/
    .contacto{
        width: 50vw;
        align-items: center;
        padding-bottom: 10vw;
    }

    .contacto p{
        width: 70vw;
    }


    .formContacto{
        width: 70vw;
    }


    .ubiContacto{
        width: 70vw;
    }


    /*----Footer----*/
    /* modificar le footer para que queden solo los iconos */

    .footer img{
        width: 20vw;
    }

    .footer div p{
        font-size: 2vw;
    }

  }
